<!DOCTYPE html>
<html>
<head>
    <title>CEB Vehicle Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #mapid { height: 500px; }
    </style>
</head>
<body>
    <h1>CEB Vehicle Live Tracking</h1>
    <div id="mapid"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>